body {
  max-width: 950px;
  margin: auto;
}
.page-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 55px;
  height: 45px;
  align-items: center;
}
.logo-header {
  height: 20px;
}
.menu-item {
  text-decoration: none;
  color: white;
}
.carousel-welcome {
  display: flex;
  background-color: rgb(218, 78, 101);
  justify-content: space-evenly;
  height: 300px;
  align-items: center;
}
.left-welcome {
  max-width: 45%;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h1,
h2,
h3,
span {
  font-family: Arial, Helvetica, sans-serif;
}
footer,
.services-wrapper,
.who-am-i-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-works-wrapper,
.contact-wrapper {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-img {
  border-radius: 180px;
  max-width: 170px;
}
.services {
  display: flex;
  max-width: 85%;
  border-top: solid white;
  border-width: 1px;
  padding: 50px;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  font-size: small;
}
.border {
  display: flex;
  max-width: 85%;
  border-top: solid white;
  border-width: 1px;
  padding: 50px;
}
.social-media {
  display: flex;
  justify-content: center;
  width: 50%;
  border-top: solid black;
  border-width: 1px;
  padding: 25px;
}
.email {
  display: flex;
  justify-content: center;
  border: solid white;
  border-width: 1px;
  padding: 8px 90px;
  margin: 5px;
}
.contact-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-top: solid black;
  border-width: 1px;
  padding: 25px;
}

/* texts color */
.white {
  color: white;
}
.orange {
  color: orange;
}
.black {
  color: black;
}
.pink {
  color: rgb(218, 78, 101);
}
