body {
  margin: auto;
}
/* toolbar */
.page-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 55px;
  height: 45px;
  align-items: center;
}
.logo-header {
  height: 20px;
}
.menu-item {
  text-decoration: none;
  color: white;
}
/* welcome */
.carousel-welcome {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  align-items: center;
  position: relative;
  background-color: rgba(245, 73, 101, 0.9);
}
.carousel-welcome:after {
  content: "";
    opacity: 0.5;
    background-image: url(../images/Slider.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
.left-welcome {
  max-width: 45%;
}
/* my works */
.works-thumbnail {
  display: flex;
}
.thumbnail-description{    
  background-color: black;
  max-width: 50%;
}
.thumbnail {
  display: flex;
  flex-direction: column;
}
.thumnail-photo{
  max-width: 50%
}
.works-menu{
  display: flex;
}
.works-menu-item{
  text-decoration: none;
  color: black;
  border-color: black;
}
/* footer */
footer,
.services-wrapper,
.who-am-i-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* who am i */
.empty{
  background-color: white;
}
.fill{
  background-color: purple;
  width: 75%;
}
.skill{
  height: 20px;
  white-space: nowrap;
  position: relative;
  background-color: white;
  min-width: 105px;
}
.js{
  width: 85%;
}
.htmlcss{
  width: 80%;
}

/* my works */
.my-works-wrapper,
.contact-wrapper {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-img {
  border-radius: 180px;
  max-width: 170px;
}
.services {
  display: flex;
  max-width: 85%;
  border-top: solid white;
  border-width: 1px;
  padding: 50px;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* contact */
.social-media {
  display: flex;
  justify-content: center;
  width: 50%;
  border-top: solid black;
  border-width: 1px;
  padding: 25px;
}
.email {
  display: flex;
  justify-content: center;
  border: solid white;
  border-width: 1px;
  padding: 8px 90px;
  margin: 5px;
}
.contact-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-top: solid black;
  border-width: 1px;
  padding: 25px;
}

/* texts color */
.white {
  color: white;
}
.orange {
  color: orange;
}
.black {
  color: black;
}
.pink {
  color: rgb(218, 78, 101);
}
.yellow {
  color: yellow;
}

/* tags */
h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h1,
h2,
h3,
span {
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
  padding-bottom: 1.2%;
}
.text {
  font-size: small;
  text-align: center;
}
.border {
  display: flex;
  max-width: 85%;
  border-top: solid white;
  border-width: 1px;
  padding: 50px;
}